@font-face {
  font-family: "Karla Variable";
  src: url("./../assets/fonts/Karla-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Karla Italic Variable";
  src: url("./../assets/fonts/Karla-Italic-VariableFont_wght.ttf");
}
:root {
  --green: hsl(169, 82%, 27%);
  --light-green: hsl(148, 38%, 91%);
  --dark-green: #053f36;
  --black: hsl(187, 24%, 22%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(186, 15%, 59%);
  --red: hsl(0, 66%, 54%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla Variable", sans-serif;
}

body {
  color: var(--black);
}

.attribution {
  text-align: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (max-width: 960px) {
  .form-input {
    grid-column: 1/3;
  }
}
.form-input__label {
  display: flex;
  gap: 0.5rem;
}
.form-input__label--required::after {
  content: "*";
  color: var(--green);
}
.form-input__error-message {
  color: var(--red);
  display: none;
}
.form-input__error-message--visible {
  display: block;
}
.form-input__input-box {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
  font-size: 1.125rem;
  cursor: pointer;
}
.form-input__input-box:hover, .form-input__input-box:focus, .form-input__input-box:has(input:checked) {
  border: 1px solid var(--green);
  outline: none;
}
.form-input__input-box:has(input:checked) {
  background-color: var(--light-green);
}
.form-input__input-box--invalid {
  border-color: var(--red);
}
.form-input__query-inputs {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}
@media screen and (max-width: 960px) {
  .form-input__query-inputs {
    flex-direction: column;
  }
}
.form-input__hidden-checkbox, .form-input__hidden-radio {
  position: absolute;
  height: 0px;
  width: 0px;
  opacity: 0;
}
.form-input__checkbox-input {
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid var(--grey);
  border-radius: 2px;
}
.form-input__checkbox-label, .form-input__radio-label {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  flex-grow: 1;
}
.form-input__radio-input {
  display: block;
  height: 24px;
  width: 24px;
  border: 1px solid var(--grey);
  border-radius: 50%;
  overflow: hidden;
}
.form-input__hidden-checkbox:checked ~ .form-input__checkbox-input {
  background-image: url("./assets/images/icon-checkbox-check.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.form-input__hidden-radio:checked ~ .form-input__radio-input {
  background-image: url("./assets/images/icon-radio-selected.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.form-input__textarea {
  resize: none;
  height: 7rem;
}
.form-input--large {
  grid-column: 1/3;
}

.contact-form {
  background: var(--light-green);
  margin: 4rem;
  padding: 4rem;
  box-shadow: 0px 16px 16px #ccc;
}
@media screen and (max-width: 960px) {
  .contact-form {
    margin: 0;
    padding: 2rem 1rem;
  }
}
.contact-form__inner {
  width: 680px;
  margin: auto;
  padding: 2rem;
  background: var(--white);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 960px) {
  .contact-form__inner {
    width: auto;
  }
}
.contact-form__title {
  font-size: 2rem;
  font-weight: bold;
}
.contact-form__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1.25rem;
}
.contact-form__submit-button {
  background-color: var(--green);
  color: var(--white);
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  grid-column: 1/3;
  display: block;
}
.contact-form__submit-button:hover {
  background-color: var(--dark-green);
}
.contact-form__success-message {
  display: none;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--dark-green);
  color: var(--white);
  position: absolute;
  padding: 2rem;
  border-radius: 1rem;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
}
.contact-form__success-message--visible {
  display: flex;
}
.contact-form__success-header {
  font-weight: bold;
  font-size: 1.125rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.contact-form__success-header::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background-image: url("./assets/images/icon-success-check.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
